<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104809315386-59sc420ipv14vhlr1nacv2e40ss93ncg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104809315386-59sc420ipv14vhlr1nacv2e40ss93ncg</string>
	<key>API_KEY</key>
	<string>AIzaSyCdDaN2Y9QCSAI4EqjuUh7t_cLZKfkGiao</string>
	<key>GCM_SENDER_ID</key>
	<string>104809315386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammadhamdani.edspertid.edspertid.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>edspertid</string>
	<key>STORAGE_BUCKET</key>
	<string>edspertid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104809315386:ios:a3aa865be8cd4ba7108903</string>
</dict>
</plist>